/************************************************************
*                                                           *
*           Feuille de style (moche) de                     *
*           Joël Dendaletche                                *
*                                                           *
************************************************************/
* {}

body { 
      color             :           pink                ;
      background        :           darkgreen           ;
}

main {}

section {}

article {}

aside {}

header {
      background        :  url("../img/icon/miageToulouse.jpeg");
      height            :  10%; /* de la hauteur de l'écran */ 
}

footer {
      color             :           rgb(200,200,200)     ;
      background        :           rgb(55,55,55         ;
}
